<!DOCTYPE html>
<html 
    lang="en"
    class="scroll-smooth scroll-pt-8"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if path == "home" %}
        <title>{{ site.metaTitle }}</title>
    {% else %}
        <title>{{ title }} | {{ site.name }}</title>
    {% endif %}

    {% include "partials/seo-head.njk" %}

    <link rel="stylesheet" href="https://use.typekit.net/tvl6jzp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/site.css">
    <link rel="stylesheet" href="/syntax-highlights.css">
    <link rel="icon" href="{{ site.favicon }}" type="image/svg"/>

    <link rel="canonical" href="{{ page.url | absoluteUrl(site.url) }}">

    {% include "partials/og-head.njk" %}

    <!-- Font Awesome icons -->
    <script defer src="https://kit.fontawesome.com/aee7bf2cc0.js" crossorigin="anonymous"></script>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.10.3/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/focus@3.10.3/dist/cdn.min.js"></script>
    <!-- Alpine.js core -->
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="DMOAPCNG" defer></script>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        } else {
        document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body class="bg-zinc-50 text-zinc-800 dark:bg-gradient-to-br dark:from-slate-800 dark:to-slate-900 bg-no-repeat font-body text-lg md:text-xl dark:text-slate-300 selection:bg-rose-100 dark:selection:bg-rose-700/50">

    {% include "partials/site-header.njk" %}

    <main tabindex="-1" id="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% include "partials/site-footer.njk" %}
  
<script>

// Dark mode toggle
const themeToggleLight = document.getElementById("themeToggleLight");
const themeToggleDark = document.getElementById("themeToggleDark");
const themeToggle = document.getElementById("themeToggle");

// Default settings
if (
	localStorage.theme === "dark" ||
	(!("theme" in localStorage) &&
		window.matchMedia("(prefers-color-scheme: dark)").matches)
) {
	themeToggleDark.classList.remove("hidden");
    themeToggle.classList.add("hover:bg-slate-700");
} else {
	themeToggleLight.classList.remove("hidden");
    themeToggle.classList.add("hover:bg-rose-100");
}

themeToggle.addEventListener("click", function() {
    // Toggle icons
    themeToggleDark.classList.toggle("hidden");
    themeToggleLight.classList.toggle("hidden");
    themeToggle.classList.toggle("hover:bg-rose-100");
    themeToggle.classList.toggle("hover:bg-slate-700");

    // If set via local storage previously
    if (localStorage.theme) {
        if (localStorage.theme === "light") {
            document.documentElement.classList.add("dark");
            localStorage.theme = "dark";
        } else {
            document.documentElement.classList.remove("dark");
            localStorage.theme = "light";
        }
    }
    // If not set via local storage previously
    else {
        if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.theme = "light";
        } else {
            document.documentElement.classList.add("dark");
            localStorage.theme = "dark";
        }
    }
});
</script>

{% if page.url == "/" %}
<script>

    // Grab a random post from the RSS feed and set it to the "Random Post" button on the home page
    async function getRandomPostFromRss() {
        let allPosts = [];
        let randomPost = '';
        const xmlFetch = await fetch("/rss-feed.xml")
        const xmlText = await xmlFetch.text()
        const xml = await (new window.DOMParser()).parseFromString(xmlText, "text/xml")
        const entries = xml.getElementsByTagName("entry")
        for (entry of entries) {
            allPosts.push(entry.getElementsByTagName("id")[0].childNodes[0].nodeValue)
        }
        randomPost = allPosts[Math.floor(Math.random()*allPosts.length)]
        document.getElementById("randomPostButton").href = randomPost
        return false
    }
    getRandomPostFromRss()

</script>
{% endif %}
</body>
</html>