{% extends "base.njk" %}

{% block content %}

<div class="hero-clipped custom-background absolute inset-0 z-5 h-60 w-full lg:h-[17rem]"></div>
<div
    class="container mx-auto max-w-screen-lg px-6 pt-52 pb-20 lg:border-l lg:border-slate-600 lg:px-8"
>
    <article class="article max-w-prose">

        <!-- Post header -->
        <header>
            <h1 class="font-header font-bold text-4xl sm:text-5xl md:text-6xl leading-[1.15] text-slate-200 mb-8 relative z-10">
                {{ title }}
            </h1>
            <div class="relative">
                <div class="mb-6 text-base text-slate-400 xl:mb-12">

                    <time>{{ date | postDate }}</time>

                    {% if category %}
                        <span class="mx-3 font-header font-bold text-rose-400">|</span>
                        {% for category in category %}
                            {{ category | title }}
                        {% endfor %}
                    {% endif %}
                </div>
                <section class="mb-8 flex justify-start flex-col 2xl:absolute 2xl:-left-44 2xl:top-0 2xl:mb-0">
                    <a href="{{ navigation.navItems[1].url }}" class="relative top-1 mb-6 mr-4 text-base text-left w-24 inline-block hover:text-rose-400 2xl:mb-12 2xl:top-0 2xl:mr-0">
                        <i class="fa-duotone fa-arrow-left"></i>
                            All Posts
                    </a>
                    <div class="sr-only 2xl:not-sr-only mb-6 font-header text-lg font-medium italic 2xl:mb-4 text-left">Tags</div>
                    {% if tags %}
                        <ul class="flex flex-wrap xl:flex-nowrap 2xl:flex-col items-start">
                            {% for tag in tags %}
                                <li>
                                    <a
                                        href="/tag/{{ tag | slugify }}/"
                                        class="mx-1 mb-3 inline-block bg-slate-700 py-1 px-2 text-sm text-slate-200 hover:bg-rose-400 hover:text-slate-900"
                                        >{{ tag | title }}</a
                                    >
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
            </div>
        </header>

        <!-- Post featured image -->
        <div class="mb-12">
            <picture class="feature_image">
                {% set imageURL = "./src/" + post_image.url %}
                {% set imageAlt = post_image.alt %}
                {% image imageURL, imageAlt, "(max-width: 768px) 600px, 900px" %}
            </picture>
            <div class="text-sm italic leading-snug text-slate-400 pt-4">
                <span>{{ post_image.alt }}</span>
                {% if post_image.source %}
                    <span class="mx-2">|</span>
                    <span class="image_credit">{{ post_image.source | safe }}</span>
                {% endif %}
            </div>
        </div>

        <!-- Post intro paragraph -->
        <div class="relative mb-8 leading-normal text-2xl text-slate-200 prose-a:text-rose-400 prose-a:underline hover:prose-a:no-underline first-letter:text-rose-400 first-letter:font-bold first-letter:text-7xl first-letter:float-left first-letter:mb-0 first-letter:mt-4 first-letter:mr-4 first-letter:leading-[0.5]">
            {{ post_intro | safe }}
        </div>

        <!-- Post body -->
        <div class="leading-normal max-w-[59ch] prose-p:mb-8 prose-a:text-rose-400 prose-a:underline hover:prose-a:no-underline prose-headings:font-header prose-headings:font-bold prose-headings:text-3xl prose-headings:text-slate-200 prose-headings:mb-8 prose-headings:mt-20 first:prose-headings:mt-0 prose-ul:list-disc marker:prose-ul:text-rose-400">
            {{ content | safe }}
        </div>

        <!-- Previous and next post links -->
        <footer class="flex flex-col space-y-12 md:flex-row md:justify-between mt-40 md:space-y-0 md:space-x-12">
            {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
            {% set nextPost = collections.posts | getNextCollectionItem(page) %}

            {% if previousPost %}
                <div class="w-full md:w-1/2">
                    <span class="font-header font-medium text-lg italic block mb-6">
                        <i class="fa-duotone fa-backward mr-2 text-rose-400"></i>
                        Previous Post
                    </span>
                    <div class="mb-2 text-sm text-slate-400">
                        <date>{{ previousPost.data.date | postDate }}</date>

                        {% if previousPost.data.category %}
                            <span class="mx-3 font-header font-bold text-rose-400">|</span>
                            {% for category in previousPost.data.category %}
                                {{ category | title }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="{{ previousPost.url }}" class="text-slate-200 text-2xl hover:text-rose-400 hover:underline font-header font-bold">{{ previousPost.data.title }}</a>
                </div>
            {% endif %}

            {% if nextPost %}
                <div class="w-full md:w-1/2">
                    <span class="font-header font-medium text-lg italic block mb-6">
                        Next Post
                        <i class="fa-duotone fa-forward ml-2 text-rose-400"></i>
                    </span>
                    <div class="mb-2 text-sm text-slate-400">
                        <date>{{ nextPost.data.date | postDate }}</date>

                        {% if nextPost.data.category %}
                            <span class="mx-3 font-header font-bold text-rose-400">|</span>
                            {% for category in nextPost.data.category %}
                                {{ category | title }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="{{ nextPost.url }}" class="text-slate-200 text-2xl hover:text-rose-400 hover:underline font-header font-bold">{{ nextPost.data.title }}</a>
                </div>
            {% endif %}

        </footer>
    </article>
</div>


{% endblock %}