---json
{
  "permalink": "rss-feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Daniel Saunders' Blog",
    "subtitle": "An occasional record of my reading and writing.",
    "language": "en",
    "url": "https://daniel-saunders.com/",
    "author": {
      "name": "Daniel Saunders",
      "email": "daniel.thomas.saunders@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">
      {%- if post.data.post_image -%}
        &lt;img src="{{ post.data.post_image.url | absoluteUrl(metadata.url) }}" alt="{{ post.data.post_image.alt }}" /&gt;
      {%- endif -%}
      {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>