<header class="relative border-b border-zinc-200 dark:border-slate-600 pt-52 pb-20">
    <div
        class="container relative z-10 mx-auto max-w-screen-lg items-center justify-between px-4 lg:px-8"
    >
        <h1 class="mb-8 font-header text-5xl md:text-6xl font-bold">
            <span
                class="dark:bg-gradient-to-r dark:from-rose-500 dark:to-rose-300 dark:bg-clip-text dark:text-transparent"
            >
                {{ pageHeaderTitle }}
            </span>
        </h1>
        {% if pageHeaderSummary %}
            <p class="text-2xl leading-normal max-w-3xl prose-a:text-rose-600 dark:prose-a:text-rose-400 prose-a:underline hover:prose-a:no-underline">{{ pageHeaderSummary | safe }}</p>
        {% endif %}
    </div>
    <div class="custom-background absolute inset-0 h-full w-full"></div>
</header>