<footer class="border-t border-zinc-200 bg-zinc-100 dark:border-slate-600 dark:bg-slate-900 py-24 px-8">
    <section class="container mx-auto grid grid-cols-5 gap-8">
        <div class="col-span-5 font-header font-bold text-base lg:col-span-1">
            <a
                href="{{ navigation.navItems[0].url }}"
                class="group pl-4 font-header text-4xl font-bold dark:text-slate-200 md:pl-0"
            >
                <span
                    id="logomark"
                    class="mr-1 inline-block bg-rose-600 text-zinc-50 dark:bg-rose-500 pt-1.5 px-1 pb-0.5 leading-none dark:text-slate-900"
                    >ds</span
                >
            </a>
            <div class="mt-4">© 2023, Daniel Saunders</div>
            {# <div id="wcb" class="carbonbadge wcb-d !text-left mt-6"></div> #}
        </div>
        <div class="col-span-2 lg:col-span-1">
            <p
                class="mb-4 font-header text-sm font-bold uppercase tracking-widest dark:text-rose-400"
            >
                Site
            </p>
            <ul>
                {% for navItem in navigation.navItems %}
                <li class="mb-4 sm:mb-2">
                    <a
                        href="{{ navItem.url }}"
                        class="hover:text-rose-600 dark:hover:text-rose-400 hover:underline"
                        >{{ navItem.text }}</a
                    >
                </li>
                {% endfor %}
                <li class="mb-4 sm:mb-2">
                    <a
                        href="https://www.ds-design.xyz/" target="_blank"
                        class="hover:text-rose-600 dark:hover:text-rose-400 hover:underline group"
                        >Web Studio
                        <i
                            class="fa-duotone fa-arrow-up-right-from-square relative bottom-[1px] ml-0.5 text-[12px] transition-transform duration-100 group-hover:-translate-y-1 text-rose-600 dark:text-rose-400"
                        ></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-span-2 lg:col-span-1">
            <p
                class="mb-4 font-header text-sm font-bold uppercase tracking-widest dark:text-rose-400"
            >
                Follow
            </p>
            <ul class="relative -left-2">
                <li class="mb-4 flex items-center sm:mb-2">
                    <a
                        href="{{ site.socialLinks.rss }}"
                        class="peer order-2 hover:text-rose-600 dark:hover:text-rose-400 hover:underline"
                        target="_blank"
                    >
                        RSS
                    </a>
                    <i
                        class="fa-solid fa-rss order-1 mr-2 w-6 text-sm peer-hover:text-rose-600 dark:peer-hover:text-rose-400"
                    ></i>
                </li>
                <li class="mb-4 flex items-center sm:mb-2">
                    <a
                        rel="me"
                        href="{{ site.socialLinks.mastodon }}"
                        class="peer order-2 hover:text-rose-600 dark:hover:text-rose-400 hover:underline"
                        target="_blank"
                    >
                        Mastodon
                    </a>
                    <i
                        class="fa-brands fa-mastodon order-1 mr-2 w-6 text-sm peer-hover:text-rose-600 dark:peer-hover:text-rose-400"
                    ></i>
                </li>
                <li class="mb-4 flex items-center sm:mb-2">
                    <a
                        rel="me"
                        href="{{ site.socialLinks.github }}"
                        class="peer order-2 hover:text-rose-600 dark:hover:text-rose-400 hover:underline"
                        target="_blank"
                    >
                        GitHub
                    </a>
                    <i
                        class="fa-brands fa-github order-1 mr-2 w-6 text-sm peer-hover:text-rose-600 dark:peer-hover:text-rose-400"
                    ></i>
                </li>
                <li class="mb-4 flex items-center sm:mb-2">
                    <a
                        href="{{ site.socialLinks.dribbble }}"
                        class="peer order-2 hover:text-rose-600 dark:hover:text-rose-400 hover:underline"
                        target="_blank"
                    >
                        Dribbble
                    </a>
                    <i
                        class="fa-brands fa-dribbble order-1 mr-2 w-6 text-sm peer-hover:text-rose-600 dark:peer-hover:text-rose-400"
                    ></i>
                </li>
                <li class="mb-4 flex items-center sm:mb-2">
                    <a
                        href="{{ site.socialLinks.soundcloud }}"
                        class="peer order-2 hover:text-rose-600 dark:hover:text-rose-400 hover:underline"
                        target="_blank"
                    >
                        SoundCloud
                    </a>
                    <i
                        class="fa-brands fa-soundcloud order-1 mr-2 w-6 text-sm peer-hover:text-rose-600 dark:peer-hover:text-rose-400"
                    ></i>
                </li>
            </ul>
        </div>
        <div class="col-span-5 lg:col-span-2">
            <p class="text-base mb-3">Get these posts and other updates by email in my newsletter, “A Partial Summing Up”.</p>
            <form
                action="https://buttondown.email/api/emails/embed-subscribe/daniel-saunders"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://buttondown.email/daniel-saunders', 'popupwindow')"
                class="mb-6"
                >
                <label for="bd-email" class="text-sm italic inline-block mb-3">Enter your email</label>
                <div class="flex flex-wrap gap-4">
                    <input type="email" name="email" placeholder="Your email" id="bd-email" class="p-2 text-base shadow-sm rounded-md min-w-[15rem] dark:text-slate-800" />
                    <input type="submit" value="Subscribe" class="cursor-pointer text-base rounded-md w-fit text-zinc-50 bg-rose-600 dark:bg-gradient-to-r dark:from-rose-400 dark:to-rose-300 py-2 px-4 lg:mb-0 dark:text-slate-900 hover:-translate-y-1 transition-transform duration-100 font-bold" />
                </div>
                <p class="text-sm mt-4">
                    <a href="https://buttondown.email/refer/daniel-saunders" target="_blank">Powered by Buttondown.</a>
                </p>
            </form>
            <p
                class="mb-2 font-header text-sm font-bold uppercase tracking-widest dark:text-rose-400"
            >
                Colophon
            </p>
            <ul class="text-sm">
                {# <li class="mb-4 lg:mb-2">
                    <span class="font-bold">Headings:</span>
                    <a href="{{ site.colophon.headingFont.url }}" target="_blank" class="group">
                        <span class="underline group-hover:no-underline"
                            >{{ site.colophon.headingFont.text }}</span
                        >
                        <i
                            class="fa-duotone fa-arrow-up-right-from-square relative bottom-[1px] ml-0.5 text-[12px] transition-transform duration-100 group-hover:-translate-y-1 text-rose-600 dark:text-rose-400"
                        ></i>
                    </a>
                </li> #}
                <li class="mb-4 lg:mb-2">
                    <a href="{{ site.colophon.bodyFont.url }}" target="_blank" class="group">
                        <span class="underline group-hover:no-underline"
                            >{{ site.colophon.bodyFont.text }}</span
                        >
                        <i
                            class="fa-duotone fa-arrow-up-right-from-square relative bottom-[1px] ml-0.5 text-[12px] transition-transform duration-100 group-hover:-translate-y-1 text-rose-600 dark:text-rose-400"
                        ></i>
                    </a>
                </li>
                <li class="mb-4 mt-4">
                    <span class="font-bold">Built with:</span>
                    <ul class="mt-2 lg:mt-1">
                        {% set buildTools = site.colophon.builtWith %}
                        {% for item in buildTools %}
                            <li class="mb-4 lg:mb-1">
                                <a href="{{ item.url }}" target="_blank" class="group">
                                    <span class="underline group-hover:no-underline">{{ item.text }}</span>
                                    <i class="fa-duotone fa-arrow-up-right-from-square relative bottom-[1px] ml-0.5 text-[12px] transition-transform duration-100 group-hover:-translate-y-1 text-rose-600 dark:text-rose-400"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</footer>
