<li>
    <a href="{{ item.url }}" target="_blank" class="group relative">
        <div class="absolute inset-0 rounded-full transition-opacity z-[2] bg-rose-600 opacity-0 group-hover:opacity-100 mix-blend-multiply dark:bg-rose-400"></div>
        <img src='{{ item.author.photo }}' alt='{{ item.author.name }}' class="relative rounded-full h-12 w-12 object-fill outline-zinc-50 outline-2 outline dark:outline-slate-900" />
    </a>
</li>